/* Breakpoints */
$min768: '(min-width: 768px)';
$min1024 : '(min-width: 1024px)';
$min1280 : '(min-width: 1280px)';
$min1366 : '(min-width: 1366px)';

$max768 : '(max-width: 767px)';
$max1024 : '(max-width: 1023px)';
$max1366 : '(max-width: 1365px)';
$max1900 : '(max-width: 1899px)';

$bebasNeueBold: 'BebasNeueBold', sans-serif;
$bebasNeueLight: 'BebasNeueLight', sans-serif;
$bebasNeue: 'BebasNeueRegular', sans-serif;

$pobedaBold: 'Pobeda-Bold';
$pobeda: 'Pobeda-Regular';

$openSans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$PTSans: 'PT Sans', sans-serif;
$gothamPro: 'Gotham Pro';

$color-red: #db1727;
$color-red-2: #ff3e3e;
$color-red-3: #e01728;
$color-blue: #00354d;
$color-azure: #4abeda;