/* Breakpoints */
$min768: '(min-width: 768px)';
$min1024 : '(min-width: 1024px)';
$min1280 : '(min-width: 1280px)';
$min1366 : '(min-width: 1366px)';

$max768 : '(max-width: 767px)';
$max1024 : '(max-width: 1023px)';
$max1366 : '(max-width: 1365px)';
$max1900 : '(max-width: 1899px)';

$bebasNeueBold: 'BebasNeueBold', sans-serif;
$bebasNeueLight: 'BebasNeueLight', sans-serif;
$bebasNeue: 'BebasNeueRegular', sans-serif;

$pobedaBold: 'Pobeda-Bold';
$pobeda: 'Pobeda-Regular';

$openSans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$PTSans: 'PT Sans Narrow', sans-serif;
$gothamPro: 'Gotham Pro';

$color-red: #db1727;
$color-red-2: #ff3e3e;
$color-red-3: #e01728;
$color-blue: #00354d;
$color-azure: #4abeda;


// Брекпойнты
$TABLET_WIDTH: 768px;
$DESKTOP_WIDTH: 1280px;

$widthTablet: $TABLET_WIDTH;
$widthDesktop: $DESKTOP_WIDTH;

$mobile: "screen and (max-width: #{$widthDesktop})";
$tablet: "screen and (min-width: #{$widthTablet}) and (max-width: #{$widthDesktop})";
$desktop: "screen and (min-width: #{$widthDesktop})";

@mixin mobile {
  @media (max-width: #{$widthDesktop - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$widthDesktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$widthDesktop}) {
    @content;
  }
}

@mixin wrapper {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}
